/****** DESKTOP VIEW***/
/*@media only screen and (min-width: 1024px) {*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height:100%;
    color: #f7f7f7;
  }
/*
body{
  
  margin:0px;
  border: 0px;
  padding:0px;

  background-color: #040814;
}
img {
  display: block;
  margin: 0px;
  width: 100%;
  height: 100%;
  
}*/
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height:100%;
  width:100%;
}

section{
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  
  
}

.center{
  position:absolute;
  text-align: center;
  top:50%;
  
}
.one{
 position: relative;
  background-color: #040814;
}

.two{
  background-color: #040814;
  
}
.three{
  background-color: #1b1e3f;
  
}
.four{
  background-color: #2d2848;
 
}
.five{
  background-color: #5a3554;
  
}
.six{
  background-color: #763c59;
 
}
/*}*/
  

/****** TABLETS***
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header{
    margin:0px;
    max-width:0px;
    
  }
  footer{
    margin-top:0px;
    
  }
  body{
    
    margin:0px;
    border: 0px;
    padding:0px;
  
    background-color: #040814;
  }
  img {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
    
  }
  .top-container{
    position: relative;
    text-align: center;
    color: #f7f7f7;
    width: 100%;
    height: 100%;
    margin:0px;
    
    border:0px;
    
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  }


  /****** SMARTPHONES***
@media only screen and (max-width: 767px) {

  header{
    margin:0px;
    max-width:0px;
   
  }
  footer{
    margin-top:0px;
    
  }
  body{
    
    margin:0px;
    border: 0px;
    padding:0px;
    background-color: #040814;
  }
  img {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
    
  }
  .top-container{
    position: relative;
    text-align: center;
    color: #f7f7f7;
    width: 100%;
    height: 100%;
    margin:0px;
    
    border:0px;
    
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  }
  */