/****** DESKTOP VIEW***/
@media only screen and (min-width: 1024px) 
 {

  /************* TAG SELECTORS *************/
header{
  margin:0px;
  max-width: 100%;
}
footer{
  margin-top:0px;
  max-width: 100%;
}
body{
  max-width: 100%;
  margin:0px;
  border: 0px;
  padding:0px;

  background-color: #E6E4DD;
}
img {
  display: block;
  margin: 0px;
  width: 100%;
  height: 500px;
  
}

p{
  color: grey;
}
/************* CLASS SELECTORS *************/
.top-container{
  background-color: #A3B18A;
  width: 100%;
  height: 850px;
  margin:0px;
  padding: 20px;
  border:0px;
}
.middle-container{
  
  padding: 20px;
  
  margin-left:0%;
  width: 100%;
  height: 850px;
  background-color: #E6E4DD;
}
.middle-container1{
  padding: 20px;
  margin-left:0%;
  width: 100%;
  height: 850px;
  background-color: #588157;
}
.middle-container2{
  padding: 20px;
  margin-left:0%;
  width: 100%;
  height: 850px;
  background-color: #3A5A40;
}
.bottom-container{
  padding: 20px;
  margin-left:0%;
  width: 100%;
  height: 850px;
  background-color: #344E41;
}

  
  }

/****** TABLETS***/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .top-container {
  
  margin: 0px;
  
  }
  img{
    max-width:100%;
  }
  
  }


  /****** SMARTPHONES***/
@media only screen and (max-width: 767px) {

  .top-container {
  
  margin: 0 16px;
  
  }
  img{
    max-width:100%;
  }
  
  }